<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            width: 100%; /* Ensure body takes full width */
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>Redirecting in <span id="countdown">10</span> seconds...</h1>
    <p>If you are not redirected automatically, <a href="{{ original_url }}">click here</a>.</p>

    <script>
        var countdownElement = document.getElementById('countdown');
        var timeLeft = 10;

        var countdownTimer = setInterval(function() {
            timeLeft--;
            countdownElement.textContent = timeLeft;

            if (timeLeft <= 0) {
                clearInterval(countdownTimer);
                window.location.href = "{{ original_url }}";
            }
        }, 1000);
    </script>
</body>
</html>
